<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Orthus App
    </ion-title>
    <ion-button slot="secondary" (click)="listPairedDevices()" size="large" color="light">
        Scan 
        <ion-icon name="search"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2> Aparelhos Disponiveis </h2>
  <ion-list> 
    <ion-button expand="full" color="primary" size="large" ion-item *ngFor="let device of pairedList" (click)="connect(device)">
      <h3>{{ device.name || 'Unnamed' }}</h3>
      <p>({{ device.id }})</p>
    </ion-button>  
   </ion-list> 
</ion-content>

<ion-footer>
  <p></p>
</ion-footer>